@charset "UTF-8";
/*Nestign anidamiento*/
/*Extends*/
.card-portfolio img, .card-proyecto a, .card-proyecto img, .card-back, .card-flip > div, .card-rosa {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card-proyecto img, .card-flip > div, .card-rosa {
  margin-bottom: 30px;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
}

.card-transf-rosa div, .card-transf-gradiente div {
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 20px;
}

.card-justCook-img-mb, .card-justCook-negra, .card-justCook-blanca {
  border-radius: 25px;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
}
.card-justCook-img-mb h3, .card-justCook-negra h3, .card-justCook-blanca h3 {
  margin: 35px 0px;
  line-height: 35px;
}
.card-justCook-img-mb p, .card-justCook-negra p, .card-justCook-blanca p {
  padding-bottom: 20px;
  line-height: 35px;
}
@media (min-width: 1024px) {
  .card-justCook-img-mb, .card-justCook-negra, .card-justCook-blanca {
    padding: 35px;
    margin: 60px 0px;
  }
  .card-justCook-img-mb p, .card-justCook-negra p, .card-justCook-blanca p {
    padding-bottom: 50px;
    line-height: 35px;
  }
}

.card-justCook-img {
  border-radius: 25px;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
}

.card-img-pequeña2, .card-img-pequeña1 {
  margin-top: 15px;
  margin-left: 40px;
  width: 30%;
}

.card-justCook-white, .cardIcon {
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  background: #fff;
}

.card-bancon-1 h4, .card-bancon-1 h3 {
  margin: 0px 25px;
  font-size: 80px;
  color: #fff;
}

.card-bancon-bench-negative, .card-bancon-bench-positive {
  background-color: #fff;
  border-radius: 20px;
  margin: 15px 0px;
}
.card-bancon-bench-negative p, .card-bancon-bench-positive p {
  padding: 20px;
  margin-bottom: 0px;
}

.card-bancon-personas-mb, .card-bancon-personas {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
}
.card-bancon-personas-mb h4, .card-bancon-personas h4 {
  text-align: center;
}
.card-bancon-personas-mb h3, .card-bancon-personas h3 {
  text-align: center;
}

.card-bancon-mapa, .card-bancon-matriz, .card-tree-testing {
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
}
.card-bancon-mapa h4, .card-bancon-matriz h4, .card-tree-testing h4 {
  text-align: center;
}

.text-tree-testing, .card-sorting, .card-bancon-1 {
  display: inline-flex;
  border-radius: 0px 20px 20px 0px;
}

/*Container*/
.bg-grey {
  background-color: #F9F9F9;
}

.bg-white {
  background-color: #fff;
}

.bg-dirtywhite {
  background-color: #FDFDFD;
}

.container-long {
  width: 1600px;
  height: 480px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1120px;
}

.sc-1 {
  padding-top: 120px;
}

@media (min-width: 1024px) {
  .margin-extra {
    margin: 10px 55px;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

/*Headline*/
body {
  font-family: "Montserrat", sans-serif;
}

main ::after {
  overflow: 0;
}

a {
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
}
a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  color: #FF848A;
  padding-top: 50px;
  padding-bottom: 50px;
}
h2 #align-left {
  text-align: left;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  h4 {
    font-size: 20px;
  }
}

ul li {
  list-style-type: none;
  margin: 0;
}

ul {
  padding-inline-start: 0px;
}

/*Titulos*/
#titulo-negro {
  color: #262626;
}

#titulo-fucsia {
  color: #e82349;
}

#titulo-rosa {
  color: #FF848A;
}

#titulo-gris {
  color: #7a7a7a;
}

#strong {
  font-weight: 700;
}

#light {
  font-weight: 400;
}

#detail-green {
  color: #B0DDCE;
}

#detail-grey {
  color: #7a7a7a;
}

#detail-black {
  color: #262626;
}

/*Title Just Cook*/
.title-justCook {
  display: inline-flex;
  align-content: center;
  margin-top: 35px;
}
.title-justCook h3 {
  margin-top: 0px;
  margin-left: 15px;
}

.final-justCook {
  padding: 35px 0px;
}
.final-justCook h4 {
  text-align: center;
}
.final-justCook p {
  text-align: center;
}

.portfolio-jc {
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .portfolio-jc {
    margin-top: 55px;
    padding-left: 55px;
  }
  .portfolio-jc h3 {
    color: #262626;
  }
  .portfolio-jc p {
    margin-top: 120px;
  }
}

.portfolio-jc-a {
  padding: 25px 0px;
}

.text-justCook {
  margin-top: 180px;
  padding: 0px 50px;
}

.text-etapas-jc {
  color: #DCDCDC;
  font-size: 55px;
  font-weight: 200;
  text-align: right;
}
@media (min-width: 1024px) {
  .text-etapas-jc {
    font-size: 125px;
  }
}

.icon-jc {
  height: 30px;
}
@media (min-width: 1024px) {
  .icon-jc {
    height: 40px;
  }
}

/*Title flat lamp*/
.text-lamp {
  margin: 25px;
}
.text-lamp h3 {
  text-align: center;
}

.text-lamp-final {
  padding: 15px;
}
.text-lamp-final h4 {
  text-align: center;
}
.text-lamp-final p {
  text-align: center;
}

/*Title bancon*/
.title-bancon {
  display: inline-flex;
  align-content: center;
  margin-top: 35px;
}
.title-bancon h3 {
  margin-top: 70px;
  margin-left: 15px;
}

.title-bancon-inline {
  display: inline-flex;
  align-content: center;
  margin-top: 50px;
}

.title-bancon-inline-mb {
  display: inline-flex;
  align-content: center;
  margin-top: 50px;
}
.title-bancon-inline-mb h4 {
  margin-top: 25px;
}

.title-bancon-mb {
  display: inline-flex;
  align-content: center;
  margin-top: 35px;
}
.title-bancon-mb h4 {
  margin-top: 40px;
  margin-left: 20px;
}

.text-bancon-dk {
  margin: 20px 80px;
}

.text-bancon-mb {
  margin: 20px 10px;
}

.text-bancon-mvp {
  margin: 80px 40px;
}

.text-bancon-writing {
  margin: 0px 40px;
}

.text-bancon-center h3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
}
.text-bancon-center h4 {
  text-align: center;
  margin-top: 50px;
}

.text-bancon-etapas {
  margin-top: 160px;
}

.text-bancon-insight {
  margin-top: 100px;
}

.subtext-bancon {
  padding: 20px 80px;
}

.margin-bancon-left {
  margin: 0px 70px;
}

#text-align-center {
  text-align: center;
}

/*Header*/
.nav-link a {
  color: #e82349;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 990px) {
  .nav-link {
    margin: 35px 0px;
  }
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #e82349;
}

.navbar-light .navbar-nav .nav-link {
  color: #7a7a7a;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #262626;
  background-color: #fff;
}

.dropdown-menu {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.dropdown-item:hover {
  background-color: #FF848A;
}

@media (max-width: 992px) {
  .mobileMenu {
    transform: translateX(100%);
    position: fixed;
    top: 0px;
    bottom: 0;
    margin: auto;
    left: 0;
    transition: all ease 0.25s;
  }
  .mobileMenu.open {
    transform: translateX(0%);
  }
  .mobileMenu .navbar-nav {
    overflow-y: auto;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .overlay.open {
    display: block;
    z-index: 1029;
  }
}
.breadcrumb {
  background: transparent;
}
.breadcrumb a {
  color: #FF848A;
  font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #7a7a7a;
  content: ">";
}

.mobileMenu {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.mobileMenu.open {
  transform: translateX(0%);
}

@media (max-width: 992px) {
  .mobileMenu {
    top: 20px;
  }
}
.redes-dk {
  height: 40px;
}

.redes-mb {
  margin: 25px;
  border-top: 1px #7a7a7a;
  height: 40px;
}

.divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #7a7a7a;
}

.navbar-toggler {
  padding: 0, 75rem 0, 75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 1rem;
  margin-top: 10px;
}

/*Footer*/
.footer {
  text-align: center;
  background-color: #FCF2F2;
  padding: 10px;
}

ul li {
  margin: 0px 5px;
}

/*Boton*/
.boton {
  border: none;
  width: 298px;
  height: 48px;
  color: #262626;
  border-radius: 10px;
  text-decoration: none;
  background: #6FE4CF;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.boton:hover {
  background-color: #9aecdd;
  text-decoration: none;
  color: #262626;
}

/*Cards tipologías*/
/* Flip card rosa */
.card-rosa {
  position: relative;
}

.card-flip > div {
  background: #FCF2F2;
  color: #e82349;
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 22rem;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
  background: #FCF2F2;
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
  color: #fff;
  background: linear-gradient(180deg, #FF848A, #e82349);
}

/*Cards proyecto*/
.card-proyecto a {
  position: absolute;
  color: transparent;
}
.card-proyecto:hover img {
  filter: brightness(50%);
}
.card-proyecto:hover a {
  color: #fff;
}

.card-portfolio h3 {
  text-align: center;
  position: absolute;
  color: #fff;
}
.card-portfolio h4 {
  text-align: center;
  position: absolute;
  color: #fff;
}

/*Cards transform*/
.card-transf-gradiente div {
  color: #fff;
  background: linear-gradient(180deg, #FF848A, #e82349);
  height: 20rem;
  margin-bottom: 25px;
}

.card-transf-rosa div {
  color: #262626;
  background-color: #FCF2F2;
  height: 20rem;
  margin-bottom: 25px;
}

/*Card position*/
#card-negative {
  -webkit-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
}

#card-positive {
  -webkit-transform: translateY(70px);
  -o-transform: translateY(70px);
  -moz-transform: translateY(70px);
  transform: translateY(70px);
}

#card-middle {
  -webkit-transform: translateY(100px);
  -o-transform: translateY(100px);
  -moz-transform: translateY(100px);
  transform: translateY(100px);
}

/*Cards con ícono*/
.cardIcon {
  padding: 45px 10px;
  height: 18rem;
}
.cardIcon img {
  height: 30%;
}

.card-body {
  padding: 0, 5rem;
}

/*Cards Just Cook*/
.card-justCook-blanca {
  padding: 15px;
  background-color: #DCDCDC gainsboro;
}

.card-img-jc {
  border-radius: 25px;
  margin: 35px 0px;
}

.card-justCook-negra {
  padding: 15px;
  background-color: #262626;
  color: #fff;
}

.card-justCook-dk-img {
  margin: 45px 0px;
}

.card-justCook-mb-img {
  margin: 15px 0px;
}

.card-justCook-img {
  border-radius: 25px;
  margin: 15px 0px;
}

.card-justCook-img-mb {
  border-radius: 15px;
  margin-top: 15px;
}

.mb-final {
  margin-bottom: 15px;
}

.card-justCook-white {
  padding: 15px;
}
.card-justCook-white p {
  text-align: center;
}

.card-justCook-name {
  display: inline;
  justify-content: center;
}
.card-justCook-name h3 {
  text-align: center;
  margin-top: 0;
}
.card-justCook-name h4 {
  text-align: center;
  margin-top: 0;
}

.card-color {
  background-color: #B0DDCE;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 35px;
}
.card-color p {
  text-align: center;
}

.card-img-pequeña1 {
  float: left;
}

.card-img-pequeña2 {
  float: right;
}

.card-img-lateral {
  margin: 35px 0px;
  align-content: right;
}

/*Bancon*/
.icn-bancon-dk {
  margin-top: 40px;
  margin-left: 60px;
}

.icn-bancon-mb {
  margin-top: 30px;
  margin-left: 10px;
}

.icon-bancon-inline {
  margin: 20px;
}

.card-bancon-1 {
  background: linear-gradient(-270deg, #2ec2c269, #0e7e7ee1);
  margin: 15px 0px;
}
.card-bancon-1 p {
  margin: 20px 0px;
  color: #fff;
}
.card-bancon-1 img {
  margin: 20px;
}

#bancon-propositos {
  font-size: 46px;
}

.card-bancon-2 {
  background-color: #fff;
  border-radius: 20px;
  margin: 15px 0px;
}
.card-bancon-2 p {
  padding: 20px;
}
.card-bancon-2 h4 {
  text-align: center;
  padding-top: 15px;
}

.card-bancon-3 {
  background: linear-gradient(270deg, #369f95a1, #369f9544);
  padding: 15px;
  margin: 10px 20px 10px 0px;
  border-radius: 15px;
}
.card-bancon-3 p {
  margin-bottom: 0px;
}

.card-bancon-4 {
  background: linear-gradient(270deg, #369f95a1, #369f9544);
  padding: 15px;
  border-radius: 15px 15px 0px 0px;
}

.card-sorting {
  background: #fff;
  margin: 5px 0px;
}
.card-sorting h4 {
  color: #B0DDCE;
  margin: 40px 20px;
  font-size: 30px;
  text-align: center;
}
.card-sorting p {
  margin: 20px 0px;
}

.text-tree-testing {
  padding: 10px;
}
.text-tree-testing h3 {
  font-size: 70px;
  margin-top: 0px;
  padding: 10px;
}
.text-tree-testing p {
  margin-bottom: 0px;
  padding: 10px;
}

.card-tree-testing p {
  padding: 20px;
}

.card-bancon-personas {
  border-radius: 20px 20px 0px 0px;
}

.card-bancon-personas-mb {
  border-radius: 20px;
}

.card-bancon-bench-positive {
  border: #55FFBE 2px solid;
}

.card-bancon-bench-negative {
  border: #FF6355 2px solid;
}

.card-bancon-matriz {
  padding: 10px;
  height: 620px;
}

.card-bancon-mapa {
  padding: 10px 10px 0px 10px;
}

.bancon-porcentaje {
  background: linear-gradient(270deg, #369f95a1, #369f9544);
  border-radius: 5px;
  text-align: end;
  margin: 10px;
}

.bancon-ul-li ul li {
  margin: 10px;
}

.bancon-col-int {
  margin: 60px;
  margin-bottom: 0px;
}

.bancon-col-int-mb {
  margin: 20px 10px;
}

.img-center {
  margin: 100px 0px;
}

/*Formulario*/
.form-row label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #262626;
}

.form-inline .form-control {
  width: 100%;
  margin-bottom: 15px;
}

textarea {
  resize: none;
}

/*# sourceMappingURL=style.css.map */
