/*Cards tipologías*/

/* Flip card rosa */

.card-rosa {
    @extend %card;
    @extend %flex;
    position: relative;
}

.card-flip > div {
    @extend %card;
    @extend %flex;
    background: $rosa-claro;
    color: $fucsia;
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 22rem;
}
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    @extend %flex;
    position: absolute;
    top: 0;

  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
    background: $rosa-claro;
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
    color: $blanco;
    background: $gradiente;
  }

/*Cards proyecto*/
.card-proyecto { 

    img {
        @extend %card;
        @extend %flex;

    }

    a {
        @extend %flex;
        position: absolute;
        color: transparent;
    }

    &:hover img {
        filter: brightness(50%);

    }

    &:hover a {
        color: $blanco;
    }

}

.card-portfolio { 

    img {
        @extend %flex;

    }

    h3 {
        text-align: center;
        position: absolute;
        color: $blanco;
    }

    h4 {
        text-align: center;
        position: absolute;
        color: $blanco;
    }

}

/*Cards transform*/
.card-transf-gradiente div {
    @extend %card-transform;
    color: $blanco;
    background: $gradiente;
    height: 20rem;
    margin-bottom: 25px;

}

.card-transf-rosa div {
    @extend %card-transform;
    color: $negro;
    background-color: $rosa-claro;
    height: 20rem;
    margin-bottom: 25px;
}

/*Card position*/
#card-negative {
    @include prefijos(translateY(-20px));
}

#card-positive {
    @include prefijos(translateY(70px));
}

#card-middle {
    @include prefijos(translateY(100px));
}

/*Cards con ícono*/

.cardIcon {
    @extend %card-blanca;
    padding: 45px 10px;
    height: 18rem;

    img {
        height: 30%;
    }
}

.card-body {
    padding: 0,5rem;
}

/*Cards Just Cook*/

.card-justCook-1dk {
    @extend %card-justCook;
    margin: 55px 0px;
    padding: 35px;
    background-color: $gris-medio opacify($color: $gris-medio, $amount: 0.4);

    h3 {
        margin: 35px 0px;
        line-height: 40px;
    }

    p {
        padding-bottom: 50px;
        line-height: 35px;
    }
}

.card-justCook-2dk {
    @extend %card-justCook;
    margin: 15px 0px;
    padding: 35px;
    background-color: $negro;
    color: $blanco;

    h3 {
        margin: 25px 0px;
        line-height: 40px;
    }

    p {
        line-height: 35px;
    }

}

.card-justCook-1mb {
    @extend %card-justCook;
    background-color: $gris-medio opacify($color: $gris-medio, $amount: 0.4);
    padding: 15px;
    margin-bottom: 15px;

    h4 {
        margin: 15px 0px;
        line-height: 30px;
    }

    p {
        padding-bottom: 20px;
        line-height: 35px;
    }
}

.card-justCook-2mb {
    @extend %card-justCook;
    margin: 15px 0px;
    padding: 15px;
    background-color: $negro;
    color: $blanco;

    h4 {
        margin: 15px 0px;
        line-height: 30px;
    }

    p {
        line-height: 35px;
    }

}

.card-justCook-dk-img {
    margin: 45px 0px;
}

.card-justCook-mb-img {
    margin: 15px 0px;
}

.card-justCook-img {
    @extend %card-justCook;
    border-radius: 25px;
    margin: 15px 0px;
}

.card-justCook-img-mb {
    @extend %card-justCook;
    border-radius: 15px;
    margin-top: 15px;
}

.mb-final {
    margin-bottom: 15px;
}

.card-justCook-white {
    @extend %card-blanca;
    padding: 15px;

    p {
        text-align: center;
    }
}

.card-justCook-name {
    display: inline;
    justify-content: center;

    h3 {
        text-align: center;
        margin-top: 0;
    }

}

.card-color {
    background-color: $green;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 35px;

    p {
        text-align: center;
    }
    
}

.card-img-pequeña1 {
    @extend %card-justCook-img;
    float: left;
}

.card-img-pequeña2 {
    @extend %card-justCook-img;
    float: right;
}

.card-img-lateral {
    margin: 35px 0px;
    align-content: right;
}

.text-justCook {
    margin-top: 180px;
    padding: 0px 50px;
}


