/*Container*/

.container-grey {
    background-color: $gris-claro;
}

.container-white {
    background-color: $blanco;
}

.container-long {
    width: 1600px;
    height: 480px;
}

 .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1120px;
}

