/*Header*/

.nav-link a {
    color: $fucsia;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: $fucsia;
}

.navbar-light .navbar-nav .nav-link {
    color: $gris;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.nav-item.show .nav-link,.nav-tabs .nav-link.active{
    color: $negro;
    background-color: $blanco;
}

.dropdown-menu {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.dropdown-item:hover {
    background-color: $rosa;
}

@media (max-width: 992px) {
    .mobileMenu {
      transform: translateX(-100%);
      position: fixed;
      top: 0px;
      bottom: 0;
      margin: auto;
      left: 0;
      transition: all ease 0.25s;
      &.open {
        transform: translateX(0%);
      }
      .navbar-nav {
        overflow-y: auto;
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      &.open {
        display: block;
        z-index: 1029;
      }
    }
  }

  .breadcrumb {
    background: transparent;

    a {
      color: $rosa;
      font-weight: 500;
    }

  }

  .breadcrumb-item+.breadcrumb-item::before {
    color: $gris;
    content: ">";
}

