/*Titulos*/

#titulo-negro {
    color: $negro;
}

#titulo-fucsia {
    color: $fucsia;
}

#titulo-rosa {
    color: $rosa;
}

#titulo-gris {
    color: $gris;
}

#strong {
    font-weight: 700;
}

#light {
    font-weight: 400;
}

#detail-green {
    color: $green;
}

#detail-grey {
    color: $gris;
}

#detail-black {
    color: $negro;
}

/*Title Just Cook*/

.title-justCook {
    display: inline-flex;
    align-content: center;
    margin-top: 35px;

    h3 {
        margin-top: 0px;
        margin-left: 15px;
    }
}

.final-justCook {
    padding: 35px 0px;
    
    h4 {
        text-align: center;

    }
    
    p {
        text-align: center;
    }
}

.portfolio-jc {
    margin-top: 20px;
    @media (min-width: 1024px) {
        margin-top: 55px;
        padding-left: 55px;
    
        h3 {
            color: $negro;
        }
    
        p {
            margin-top: 120px;
        }
    }

}

.portfolio-jc-a {
    padding: 25px 0px;
}

.text-justCook {
    margin-top: 180px;
    padding: 0px 50px;
}

.text-etapas-jc {
    color: $gris-medio;
    font-size: 55px;
    font-weight: 200;
    text-align: right;
    @media (min-width: 1024px) {
        font-size: 125px;
    }
}

.icon-jc {
    height: 30px;
    @media (min-width: 1024px) {
        height: 40px;
    }
}

/*Title flat lamp*/

.text-lamp {
    margin: 25px;
    h3 {
        text-align: center;
    }
}

.text-lamp-final {
    padding: 15px;

    h4 {
        text-align: center;
    }
    
    p {
        text-align: center;
    }
}

/*Title bancon*/

.title-bancon {
    display: inline-flex;
    align-content: center;
    margin-top: 35px;

    h3 {
        margin-top: 70px;
        margin-left: 15px;
    }
}

.title-bancon-inline {
    display: inline-flex;
    align-content: center;
    margin-top: 50px;

}

.title-bancon-inline-mb {
    display: inline-flex;
    align-content: center;
    margin-top: 50px;

    h4 {
        margin-top: 25px;
    }
}

.title-bancon-mb {
    display: inline-flex;
    align-content: center;
    margin-top: 35px;

    h4 {
        margin-top: 40px;
        margin-left: 20px;
    }
}

.text-bancon-dk {
    margin: 20px 80px;
}

.text-bancon-mb {
    margin: 20px 10px;
}

.text-bancon-mvp {
    margin: 80px 40px;
}

.text-bancon-writing {
    margin: 0px 40px;
}

.text-bancon-center {
    h3 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 25px;
    }

    h4 {
        text-align: center;
        margin-top: 50px;
    }
}

.text-bancon-etapas {
    margin-top: 160px;
}

.text-bancon-insight {
    margin-top: 100px;
}

.subtext-bancon {
    padding: 20px 80px;
}

.margin-bancon-left {
    margin: 0px 70px;
}

#text-align-center {
    text-align: center;
}