/*Titulos*/

#titulo-negro {
    color: $negro;
}

#titulo-fucsia {
    color: $fucsia;
}

#titulo-rosa {
    color: $rosa;
}

#titulo-gris {
    color: $gris;
}

#text-etapas-dk {
    color: $gris-medio;
    font-size: 125px;
    font-weight: 200;
    text-align: right;
}

#text-etapas-mb {
    color: $gris-medio;
    font-size: 55px;
    font-weight: 200;
    text-align: right;
}


#strong {
    font-weight: 700;
}

#light {
    font-weight: 400;
}

#detail-green {
    color: $green;
}

#detail-grey {
    color: $gris;
}

#detail-black {
    color: $negro;
}