/*Titulos*/

#titulo-negro {
    color: $negro;
}

#titulo-fucsia {
    color: $fucsia;
}

#titulo-rosa {
    color: $rosa;
}

#titulo-gris {
    color: $gris;
}

#text-etapas-dk {
    color: $gris-medio;
    font-size: 125px;
    font-weight: 200;
    text-align: right;
}

#text-etapas-mb {
    color: $gris-medio;
    font-size: 55px;
    font-weight: 200;
    text-align: right;
}


#strong {
    font-weight: 700;
}

#light {
    font-weight: 400;
}

#detail-green {
    color: $green;
}

#detail-grey {
    color: $gris;
}

#detail-black {
    color: $negro;
}

/*Title Just Cook*/

.title-justCook {
    display: inline-flex;
    align-content: center;
    margin-top: 35px;

    h3 {
        margin-top: 0px;
        margin-left: 15px;
    }
}

.final-justCook {
    padding: 35px 0px;
    
    h4 {
        text-align: center;

    }
    
    p {
        text-align: center;
    }
}

.portfolio-dk {
    margin-top: 55px;
    padding-left: 55px;

    h3 {
        color: $negro;
    }

    p {
        margin-top: 155px;
    }
}

.portfolio-dk-a {
    padding: 25px 0px;
}


.portfolio-mb {
    margin-top: 20px;
}

.portfolio-mb-a {
    margin: 35px 0px;
}

.text-justCook {
    margin-top: 180px;
    padding: 0px 50px;
}


/*Title flat lamp*/

.text-lamp {
    margin: 25px;
    h3 {
        text-align: center;
    }
}

.text-lamp-final {
    padding: 15px;

    h4 {
        text-align: center;
    }
    
    p {
        text-align: center;
    }
}

/*Title bancon*/

.title-bancon {
    display: inline-flex;
    align-content: center;
    margin-top: 35px;

    h3 {
        margin-top: 70px;
        margin-left: 15px;
    }
}

.title-bancon-inline {
    display: inline-flex;
    align-content: center;
    margin-top: 100px;

}

.title-bancon-inline-mb {
    display: inline-flex;
    align-content: center;
    margin-top: 50px;

    h4 {
        margin-top: 25px;
    }
}

.title-bancon-mb {
    display: inline-flex;
    align-content: center;
    margin-top: 35px;

    h4 {
        margin-top: 40px;
        margin-left: 20px;
    }
}

.text-bancon-dk {
    margin: 40px 100px;
}

.text-bancon-mb {
    margin: 20px 10px;
}

.text-bancon-center {
    h3 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 25px;
    }

    h4 {
        text-align: center;
        margin-top: 50px;
    }
}

.text-bancon-etapas {
    margin-top: 160px;
}

.subtext-bancon {
    padding: 50px;
}

.margin-bancon-left {
    margin: 0px 70px;
}