$blanco: #fff;
$gris-claro: #F9F9F9;
$gris: #7a7a7a;
$gris-medio: #DCDCDC;
$negro: #262626;
$rosa-claro: #FCF2F2;
$rosa: #FF848A;
$fucsia: #e82349;
$aqua: #6FE4CF;
$green: #B0DDCE;
$gradiente: linear-gradient(180deg, #FF848A, #e82349);
$blanco-sucio: #FDFDFD;
$green-gradient:  linear-gradient(-270deg, #2ec2c269, #0e7e7ee1);
$lg-green-gradient:  linear-gradient(270deg, #369f95a1, #369f9544);
$orange: #FF6700;
$positive: #55FFBE;
$negative: #FF6355;